.countdown-container {
    position: relative;
    width: 464px;
    height: auto;
    margin: 0 auto;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 1px 3px gray;
    padding: 1em;
    text-align: center;
 }

 .countdown-time-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
 }

.countdown-title {
    padding: 0.5em 0 0.5em 0;
}

 .countdown-days,
 .countdown-hours,
 .countdown-minutes,
 .countdown-seconds {
    font-size: 3em;
    padding: 0 0.2em 0 0.2em;
    background-color:lightblue;
    border-radius: 10px;
 }

 .countdown-time-wrapper h1 {
    font-size: 3em;
 }

 .countdown-txt-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
 }
 .countdown-txt-wrapper h3 {
    color: green;
    padding: 0 0.4em 0 0.4em;
 }

 .countdown-txt-days {
    width: 100px;
    margin-left: 20px;
 }

 .countdown-txt-minutes {
    margin-left: 20px;
 }