.descbox-container {
   position: relative;
   width: 464px;
   height: 264px;
   margin: 0 auto;
   background-color:white;
   border-radius: 10px;
   box-shadow: 0 1px 3px gray;
   padding: 1em;
   margin-bottom: 0.2em;
}

.descbox-title h1 {
    font-size: 3.2em;
}

.descbox-title h2 {
    color: green;
}

.descbox-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.descbox-content-wrapper {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
}
.descbox-filler {
    height: 9.3em;
    width: 10em;
}
.descbox-mascot {
    position: absolute;
    height: 9.3em;
    bottom: 0;
    left: 0;
}