/* ---- Main Content ---- */
.home-featured-container {
    padding: 5em 0 5em 0;
    background-image:url('../Static-Site/src/Assets/Home/imgs/background.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.home-featured-row1 {
    padding-bottom: 3em;
}

/* ---- Slideshow ---- */
.slides {
    position: left;
}

.containerStyles {
    width: 500px;
    height: 280px;
    margin: 0 auto;
}

/* ---- Media Queries ---- */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {    
    .home-featured-row1 {
        display: flex;
        column-gap: 3em;
        align-items: center;
        justify-content: center;
    }
}