/* NavBar.css */

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
  }

  .items-center {
    align-items: center;

  }

  .space-x-4 > * + * {
    margin-left: 1rem;
  }

  nav {
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    height: 30px;
    width: 100vw;

  }

  .Logo {
    width: 60px;
    height: 60px;
  }

  .BroncoText {
    margin-right: 200px;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Verdana', sans-serif;
  }

  @media(max-width: 768px) {
    .BroncoText {
      margin-right: 20px;
      font-weight: bold;
      font-size: 1.5rem;
      font-family: 'Verdana', sans-serif;
    }
  }

  .nav-links {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    padding-right: 50px;
  }

  .nav-links a {
    display: inline-block;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: #72DBBB;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Verdana', sans-serif;
  }

  .nav-links a:hover {
    color: #00843D;
  }

  .apply {
    background-color: #035BA5;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Verdana', sans-serif;
  }


  .apply:hover {
    background-color: #01426A;
  }
