.profilegrid {
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1100px;
  padding: 0 10px;
  border-radius: 15px;
  grid-template-columns: repeat(4, 1fr);
}

.container h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  font-size: 2rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.profile {
  margin-right: 25px;
  margin-top: 25px;
}

.linkedinpicture {
  display: block;
  margin-right: auto;
  width: auto;
  height: 2.5rem;
  margin-top: 10px;
  transition: transform 0.2s ease-in-out;
}

.linkedinpicture:hover {
  transform: scale(1.1);
}

.profilepicture {
  display: block;
  margin-right: auto;
  border-radius: 25%;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  transition: transform 0.2s ease-in-out;
}

.profilepicture:hover {
  transform: scale(1.05);
}

.profilebody {
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 200px;
  word-wrap: break-word;
}

.profilebody name {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  display: block;
}

.profilebody role {
  font-size: 1rem;
  color: black;
  display: block;
  margin-bottom: 10px;
}