/* Sponsors.css */

.our-sponsors {
    display: flex;
    justify-content: center; 
    background-image: url('/src/Assets/Design/racetrack-background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}


/* cloud banner styling */
.cloud-banner {
    position: absolute;
    margin-top: 28px; 
    background-image: url('/src/Assets/Design/cloud1.png');
    background-size: cover;
    height: 360px;
    width: auto;
    animation: floatCloud 3s ease-in-out infinite alternate;
} 

@keyframes floatCloud {
    0% { transform: translateY(-15px); }
    50% { transform: translateX(5px); }
    100% { transform: translateY(20px); }
}

.checkered-flag {
    position: absolute;
    top: 45%;
    width: 220px; 
    height: auto;
    transform: translateY(-50%);
}

.checkered-flag.left {
    left: -80px; /* Adjust the distance from the left edge */
    transform: translateY(-50%) scaleX(-1); /* Flip horizontally */
}

.checkered-flag.right {
    right: -80px; /* Adjust the distance from the right edge */
}


/* cloud text styling */
@font-face {
    font-family: 'Snacker';
    src: url('/src/Assets/Design/Snacker.ttf') format('truetype');
}

.cloud-text h1 {
    padding: 15%;
    font-size: 73px;
    cursor: pointer;
    text-align: center;
    font-family: 'Snacker', sans-serif;
}    

.cloud-text {
    background-size: 100%;
    background-image: linear-gradient(
        45deg,
        #fd004c 0%,
        #fe9000 10%,
        #fe9000 20%,
        #fff020 30%,
        #fff020 40%,
        #3edf4b 50%,
        #3edf4b 60%,
        #3363ff 70%,
        #3363ff 80%,
        #b102b7 90%
    );
    /*-webkit-text-stroke: 0.01em #000;*/
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;        
    animation: rainbow 0.75s ease-in forwards;
    transition: background-size 0.8s ease-in;
}

.cloud-text:hover {
    animation: rainbow-reverse 8s ease-in forwards;
}

@keyframes rainbow { 
    0% { background-size: 100%; }
    80% { background-size: 650%; }
    100% { background-size: 100%; }
}

@keyframes rainbow-reverse {
    0% { background-size: 650%; }
    80% { background-size: 650%; }
    100% { background-size: 100%; }
}


/* logo float styling */
.logo-row {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align logos at the top of each row */
    cursor: pointer;
}

/* CSS for the first logo row */
.logo-row:nth-child(2) {
    margin-top: 590px; /* Add spacing between rows */
    margin-left: 400px;
}

/* CSS for the second logo row */
.logo-row:nth-child(3) {
    margin-top: 700px; /* Add spacing between rows */
    margin-left: -975px;
}

/* CSS for the third logo row */
.logo-row:nth-child(4) {
    margin-top: 700px; /* Add spacing between rows */
}


/* Adjust logo size */
.logo-row img {
    max-width: 150px; /* Adjust the max-width of the logo */
    height: auto;
    padding: 20px;
}

/* Apply floating animation to logo wrappers */
.logo-wrapper {
    position: relative;
    display: inline-block; 
    margin: 10px; 
    animation: floatLogo 5s ease-in-out infinite alternate;
}

@keyframes floatLogo {
    0% { transform: translateX(0); }
    50% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

/* Position company info tooltip */
.logo-row:nth-child(2) .company-info {
    position: absolute;
    top: -75%; /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);           
    height: auto;                                                                                                                                                                                                                                                                                                                       
    width: 175px; /* Adjust the width of the company info box */
    padding: 5px;
    font-size: 11px; /* Adjust the font size of the tooltip */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    visibility: hidden; /* Hide initially */
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear; /* Add transition effect */
}

.company-info {
    position: absolute;
    bottom: 175%; /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);             
    height: auto;                                                                                                                                                                                                                                                                                                                  
    width: 175px; /* Adjust the width of the company info box */
    padding: 5px;
    font-size: 11px; /* Adjust the font size of the tooltip */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    visibility: hidden; /* Hide initially */
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear; /* Add transition effect */
}

.company-info {
    bottom: auto; /* Reset the bottom position */
    top: 100%; /* Position the popup slightly below the logo */
}

.company-info span {
    width: max-content; /* Set the width to fit the content */
    padding: 10px; /* Add padding to create some space between the text and the edge of the box */
  }

.logo-wrapper:hover .company-info {
    visibility: visible; /* Show on hover */
    opacity: 1;
}