*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: black;
}

footer{
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-left: 5px;
    padding-right:5px;
}


img {
    height: 10vh;
}

img.broncohackslogo{
    height:15vh;
}

h3{
    text-align: center;
}

.footer-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    
}

.footer-content:first-child{
    margin-right: auto;
}

.footer-content:nth-child(2){
    margin: 0 auto 10px;
}

.footer-content:nth-child(3){
    margin-left: auto;
}

.footer-content ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .footer-content ul li {
    display: inline-block;
    margin: 7px;
  }